body {
    background-color: #00619F;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    margin-bottom: -1em;
    background-color: #00BFD9;
}

nav a {
    font-family: "Britannic Bold";
    display: flex;
    justify-content: space-evenly;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0.5em;
}

nav a:hover {
    background-color: #044665
}

.watertap,
.map {
    background-color: white;
    padding: 0.5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 14em
}

.logo {
    width: 6em;
    padding: 0em;
}

.map {
    background-color: #008360;
    width: 20em;
}

header,
footer {
    background-color: #022E4A;
    margin-top: -0.5em;
    margin-left: -0.5em;
    margin-right: -0.5em;
    margin-bottom: 0em;
}

h1 {
    color: white;
    text-align: end;
    font-family: "Showcard Gothic";
    margin-top: -2em;
    margin-right: 1em;
}


p {
    color: white;
    text-align: center;
    font-family: "Britannic Bold";
    margin-top: 3em;
}
